<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        tools:ignore="MissingApplicationIcon"
        tools:targetApi="31">

        <!-- Xposed Module Metadata -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Voice Assistant Protection Module" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/activity_label"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.MainActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ProviderMain"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="true" />

    </application>
</manifest>
